{% extends "inventory/base.html" %}		
{% comment %} Initializes the Base.html page into this view {% endcomment %}

{% comment %} Everything within the Content block is rendered using the Base.html as a template. {% endcomment %}
{% block content %}
<div>
	<div class="row">
		<div class="col-sm-11 col-md-4 mx-auto mt-5 px-3">
			<h1 class="fw-light">Track and Manage Your Home Inventory, On the go!!</h1>
			<p class="fw-light">Keep track of your inventory and receive quantity alerts for low supplies back home, </p>

			<div>
				<a href="{% url 'dashboard' %}" class="btn btn-primary">Lets Keep!</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}